.info {
  position: absolute;
  bottom: 5vh;
  font-size: $font-size-xxs;
  letter-spacing: 1.1px;
  text-align: center;

  &__site {
    color: $color-main;
    text-decoration: none;
    transition: 0.5s all;

    &:hover {
      color: lighten($color-main, 15%);
    }
  }
}
