* {
  box-sizing: border-box;
}
:root {
  font-size: 32px;
}
body {
  font-family: $font-main;
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../img/pexels-photo-928184.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-shadow: 0 0 20px rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
