$font-main: 'Neuton', serif;

$color-main: #223139;
$color-error: #ff3126;

$font-size-big: calc(0.9rem + 1.1vw);
$font-size-mid: calc(0.8rem + 0.8vw);
$font-size-sml: calc(0.6rem + 0.6vw);
$font-size-xs: calc(0.5rem + 0.4vw);
$font-size-xxs: calc(0.3rem + 0.4vw);

